<%- include("partials/header") %>

<h2>list cluckrs</h2>


<%= Object.keys(cluckr).forEach(function (item) {
	//console.log(item); // key
	console.log(cluckr[item]); // value
});

%>





<%= console.log(cluckr.content)%>
<%= console.log(cluckr.image_url) %>







<%- include("partials/footer") %>